html {
    font-size:100%;
    height:100%;
}

body {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    background-color:#aaa;
    font-family:'Droid Serif', serif;
    font-size:1.1em;
}

header {
    width: 100%;
    margin: 0;
    padding: 20px 0px;
    background-color: #ddd;
    color: #333;
    font-family: 'Droid Serif', Georgia, serif;
    font-size: 1.2em;
    text-align: center;
}

header h1 {
    font-family: 'Lobster', cursive;
}

footer {
    position:fixed;
    bottom:0;
    width: 100%;
    margin: 100px 0px 0px 0px;
    padding:20px 0px 5px 0px;
    color: #fff;
    font-size: 8pt;
    background-color: #ddd;
    color: #555;
    text-align: center;
}

a:link, a:visited, a:active, a:focus {
    color: #eee;
    opacity: 0.9;
    text-decoration: none;
    letter-spacing:0.1em;
    font-weight:100;
}

a:hover {
  opacity: 1;
  color:#008fcc;
  text-shadow:0px 1px 1px #222;
}

nav {
    width: 100%;
    background-color: #333;
    text-align: left;
    white-space: nowrap;
}

nav ul li {
    list-style-type:none;
    display:inline-block;
    margin:20px;
    color:#fff;
}

#wrapper {
    width:95%;
    margin:auto;
    text-align:center;
    padding-bottom: 200px
}

#brettfraley-photo {
    width:12%;
    min-width:50px;
    min-height:50px;
    max-width:400px;
    max-height:400px;
    margin:25px;
    border-radius:100%;
    border:solid 2px #fff;
    box-shadow:0px 2px 15px #333;
}

article {
    border:solid 3px 0px #ddd;
    width:70%;
    min-width: 275px;
    margin: 25px auto;
    padding: 25px;
    border-radius: 5px;
    background-color: #eee;
    box-shadow: 0px 0px 2px #fff;
    text-align:left;
}

article h1 {
    text-align:center;
    font-size:1.25em;
    white-space:nowrap;
    border-bottom:solid 3px #008fcc;
    padding:10px;
}
article p {
    font-size:1.1em;
    text-align:justify;
    color:#555;
    padding:5px;
    margin:10px 0px;
}

article ul li {
    margin:10px;
}

article a:link {
    color:#333;
    font-style: italic;
}

article a:hover {
    color:#008fcc;
    text-shadow:0px 1px 1px #999;
}

.forms {
    width:100%;
    padding:15px;
    background-coloe:#999;
    font-size:1.3em;
    margin:25px auto;
}

.forms input, .forms textarea{
    width:50%;
    height:50px;
    min-width:350px;
    border:solid 1px #333;
    margin:25px auto;
    font-size:1.2em;
}

.home-article {
    background-color:#ddd;
    width:60%;
}

.home-article a:link, .home-article a:visited, .home-article a:active, .home-article a:focus {
    color: #222;
    opacity: 0.9;
    text-decoration: none;
    font-weight:900;
    letter-spacing:0.1em;
}

.home-article a:hover {
  opacity: 1;
  color:#008fcc;
  text-shadow:0px 1px 1px #FFF;
}

.home-article h2 {
    color:#008fcc;
}

/* header gradient */
header {
    background: #f6f8f9;
    background: -moz-radial-gradient(center, ellipse cover,  #f6f8f9 0%, #d7dee3 51%, #f5f7f9 100%);
    background: -webkit-radial-gradient(center, ellipse cover,  #f6f8f9 0%,#d7dee3 51%,#f5f7f9 100%);
    background: radial-gradient(ellipse at center,  #f6f8f9 0%,#d7dee3 51%,#f5f7f9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=1 );
}

.blog-list {
   width:90%;
   max-width:1000px;
   background-color:#333;
   color:#333;
}

.blog-list ul li {
    list-style:none;
    margin:10px;
}

.blog-list span {
    color:#000;
    font-style:italic;
    display:block;
}

.social-links {
    width:100%;
}

.social-links a {
    color:#333
}

.social-links a:hover {
  opacity: 1;
  color:#008fcc;
  text-shadow:0px 1px 1px #999;
}

.social-links ul li {
    font-weight:200;
    display:inline;
    margin:10px;
    color:#000;
}
