    </div> <!-- end div id: wrapper -->

<!-- For using Bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<footer>
    <!-- Social Links Bar -->  

    <section class="social-links">
        <ul>
            <li><a href="mailto:brettfraley@gmail.com">brettfraley@gmail.com</a></li>
            <li><a href="https://github.com/bFraley">Github</a></li>
            <li><a href="http://linkedin.com/in/bFraley">LinkedIn</a></li>
        </ul>
    </section>
&copy; Brett Fraley 2016</footer>

</body>
</html>
