    </div> <!-- end div id: wrapper -->

<!-- For using Bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<footer>
    <!-- Social Links Bar -->  

    <section class="social-links">
        <ul>
            <li><a href="mailto:brettfraley@gmail.com">brettfraley@gmail.com</a></li>
            <li><a href="https://github.com/bFraley">Github</a></li>
            <li><a href="http://linkedin.com/in/bFraley">LinkedIn</a></li>
        </ul>
    </section>
&copy; Brett Fraley 2016</footer>

<!-- Google Analytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-86406824-1', 'auto');
  ga('send', 'pageview');

  </script>

</body>
</html>
